#=============================================#
#                                             #
#               Oxygen | v1.2                 #
#            LiteClubDevelopment              #
#                                             #
#=============================================#

# MOTD
TIME:
  DATE: '11/02/24 17:00:00' # Format is "MM/dd/yy HH:mm:ss", hour format in 24h clock
  TIMEZONE: 'EST' # GMT, UTC-3, etc
MOTD: '&b&lServerName &7┃ &3&l50% OFF &f@ &3&lbuy.myserver.net &c❤ %newline% &7» &a&lHCF SOTW &ftakes place in &b&l&n%time%' # Placeholders: %newline%, %time%
END:
  TEXT: '&b&l&nRIGHT NOW!!'
  COMMAND: '' # Example: whitelist off
TIMER:
  DAYS: 'd' # d, day, etc
  HOURS: 'h' # h, hour, hrs, etc
  MINUTES: 'm' # m, minute, mins, etc
  SECONDS: 's' # s, seconds, secs, etc
SLOTS: 3500 # Max Slots
CLOCK-TYPE: 1 # 1 for custom or 2 for d:h:m:s clock

# Messages
KICK:
  ENABLED: true
  MESSAGE: "&cKicked from &f"

# Maintenance Mode
MAINTENANCE: # oxygen.command.maintenance
  ENABLED: false
  HUB-NAME: "Hub-01"
  PING-TEXT: "&4Whitelisted" # Player Slots Text
  KICK-MESSAGE:
    - ""
    - "&cThe network is currently in maintenance."
    - "&cAdditional info may be found at our discord!"
    - ""
    - "&cJoin our Discord&7: &9discord.servername.net"
    - ""
  PLAYERS: []

# Commands
TEAMSPEAK:
  ENABLED: true
  MESSAGE:
    - "&7&m-----------------------------"
    - "&bTeamspeak&7: &f&ots.servername.net"
    - "&7&m-----------------------------"
STORE:
  ENABLED: true
  MESSAGE:
    - "&7&m-----------------------------"
    - "&bStore&7: &f&ostore.servername.net"
    - "&7&m-----------------------------"
DISCORD:
  ENABLED: true
  MESSAGE:
    - "&7&m-----------------------------"
    - "&bDiscord&7: &f&odiscord.servername.net"
    - "&7&m-----------------------------"
TWITTER:
  ENABLED: true
  MESSAGE:
    - "&7&m-----------------------------"
    - "&bTwitter&7: &f&o@ServerNameNET"
    - "&7&m-----------------------------"
WEBSITE:
  ENABLED: true
  MESSAGE:
    - "&7&m-----------------------------"
    - "&bWebsite&7: &f&owww.servername.net"
    - "&7&m-----------------------------"
HELP:
  ENABLED: true
  MESSAGE:
    - "&7&m----------------------------------------"
    - "&b&lServerName Network &7(%bungee_total%/3,500)"
    - ""
    - "&3┃ &bTeamspeak&7: &f&ots.servername.net"
    - "&3┃ &bTwitter&7: &f&o@ServerNameNET"
    - "&3┃ &bStore&7: &f&ostore.servername.net"
    - "&3┃ &bWebsite&7: &f&owww.servername.net"
    - "&3┃ &bDiscord&7: &f&odiscord.servername.net"
    - ""
    - "&4⚠ &cFor instant assistance join our teamspeak!"
    - "&7&m----------------------------------------"

HUB:
  ENABLED: true
  MESSAGE: "&aSending you to the &fHub-0%server%&a..."
FIND:
  ENABLED: true
  MESSAGE: "&4%player% &cis currently on &4%server%&f."
  OFFLINE: "&4%player% &cis currently not on the network."
  USAGE: "&cUsage: /find <player>"
SERVER:
  ENABLED: true
  MESSAGE: "&aConnecting you to &f%server%&a!"
  CONNECTED: "&cYou are currently connected to &f%server%&c."
  USAGE: "&cConnect to a server with &f/server <name>&c."
  SERVERS: "&aServers&7: &f"
  FORMAT: " &f" # Ex: &aServers&7: &fLobby &fHCF
  NO_PERMISSION: "&cYou don't have permissions or server don't exist."
  