#=============================================#
#                                             #
#               Oxygen | v1.6                 #
#            LiteClubDevelopment              #
#                                             #
#=============================================#

GENERAL:
  PRIMARY_COLOR: "&b"
  MIDDLE_COLOR: "&f"
  SECONDARY_COLOR: "&3"
  NO_PERMISSIONS: "&cYou don't have permission to execute this command."
  DISABLED_COMMAND: "&cThis command is currently disabled."

# MOTD
TIME:
  DATE: "11/02/24 17:00:00" # Format is "MM/dd/yy HH:mm:ss", hour format in 24h clock
  TIMEZONE: "EST" # GMT, UTC-3, etc
MOTD: "%primary%&l%servername% &7┃ %secondary%&l50% OFF %middle%@ %secondary%%store% &c❤ %newline% &7» &a&lHCF SOTW %middle%takes place in %primary%&l&n%time%"
END:
  TEXT: "%primary%&l&nRIGHT NOW!!"
  COMMAND: "" # Example: maintenance off
TIMER:
  DAYS: "d" # 2d (days)
  DAY: "d" # 1d (day)
  HOURS: "h" # 2h (hours)
  HOUR: "h" # 1h (hour)
  MINUTES: "m" # 2m (minutes)
  MINUTE: "m" # 1m (minute)
  SECONDS: "s" # 2s (seconds)
  SECOND: "s" # 1s (second)
SLOTS: 3500 # Max Slots
CLOCK-TYPE: 1 # 1 = 1d, 2h, 3m, 4s - 2 = 01d, 02h, 03m, 04s

# Messages
SOCIAL:
  SERVER_NAME: "ServerName"
  DISCORD: "discord.servername.net"
  STORE: "store.servername.net"
  TEAMSPEAK: "ts.servername.net"
  TWITTER: "@ServerNameNET"
  WEBSITE: "www.servername.net"
KICK:
  ENABLED: true
  MESSAGE:
    - ""
    - "&cKicked from %server%: &f%reason%"
    - ""

# Maintenance Mode
MAINTENANCE:
  ENABLED: false
  PERMISSION: "oxygen.command.maintenance"
  ALIASES:
    - "bungeewhitelist"
    - "bwhitelist"
    - "maintenancemode"
  HUB-NAME: "Hub-01"
  PING-TEXT-ENABLED: true
  PING-TEXT: "&4Whitelisted"
  PING-LORE-ENABLED: true
  PING-LORE:
    - "&7&m-----------------------------&r"
    - "&c%servername% is under maintenance."
    - ""
    - "&cOnline: &f%online%&7/&f%maxonline%"
    - ""
    - "&cJoin our Discord: &9%discord%"
    - "&7&m-----------------------------"
  KICK-MESSAGE:
    - ""
    - "&cThe network is currently in maintenance."
    - "&cAdditional info may be found at our discord!"
    - ""
    - "&cJoin our Discord&7: &9%discord%"
    - ""
  PLAYERS: []

NO-MAINTENANCE-PING-TEXT-ENABLED: false
NO-MAINTENANCE-PING-TEXT: "0/3500"

NO-MAINTENANCE-PING-LORE-ENABLED: true
NO-MAINTENANCE-PING-LORE:
  - "&7&m-----------------------------&r"
  - "&b&l%servername% &f&lNetwork &7(%online%/%maxonline%)"
  - ""
  - "&a&lHCF SOTW&7: &f%time%"
  - ""
  - "&bJoin our Discord&7: &f&o%discord%"
  - "&7&m-----------------------------"

# Commands
OXYGEN_COMMAND:
  PERMISSION: "oxygen.admin"
  ALIASES:
    - "motd"
    - "omotd"

TEAMSPEAK:
  ENABLED: true
  PERMISSION: ""
  ALIASES:
    - "ts"
    - "ts3"

STORE:
  ENABLED: true
  PERMISSION: ""
  ALIASES: []

DISCORD:
  ENABLED: true
  PERMISSION: ""
  ALIASES:
    - "dc"

TWITTER:
  ENABLED: true
  PERMISSION: ""
  ALIASES: []

WEBSITE:
  ENABLED: true
  PERMISSION: ""
  ALIASES:
    - "web"

HELP:
  ENABLED: true
  PERMISSION: ""
  ALIASES: []

HUB:
  ENABLED: true
  PERMISSION: ""
  ALIASES:
    - "lobby"

FIND:
  ENABLED: true
  PERMISSION: "oxygen.command.find"
  ALIASES:
    - "findplayer"

SERVER:
  ENABLED: true
  PERMISSION: "oxygen.command.server"
  ALIASES:
    - "play"