#=============================================#
#                                             #
#               Oxygen | v1.5                 #
#            LiteClubDevelopment              #
#                                             #
#=============================================#

GENERAL:
  PRIMARY_COLOR: "&b"
  MIDDLE_COLOR: "&f"
  SECONDARY_COLOR: "&3"
  NO_PERMISSIONS: "&cYou don't have permission to execute this command."
  DISABLED_COMMAND: "&cThis command is currently disabled."

# MOTD
TIME:
  DATE: "11/02/24 17:00:00" # Format is "MM/dd/yy HH:mm:ss", hour format in 24h clock
  TIMEZONE: "EST" # GMT, UTC-3, etc
MOTD: "&b&lServerName &7┃ &3&l50% OFF &f@ &3&lbuy.myserver.net &c❤ %newline% &7» &a&lHCF SOTW &ftakes place in &b&l&n%time%" # Placeholders: %newline%, %time%
END:
  TEXT: "&b&l&nRIGHT NOW!!"
  COMMAND: "" # Example: whitelist off
TIMER:
  DAYS: "d" # 2d (days)
  DAY: "d" # 1d (day)
  HOURS: "h" # 2h (hours)
  HOUR: "h" # 1h (hour)
  MINUTES: "m" # 2m (minutes)
  MINUTE: "m" # 1m (minute)
  SECONDS: "s" # 2s (seconds)
  SECOND: "s" # 1s (second)
SLOTS: 3500 # Max Slots
CLOCK-TYPE: 1 # 1 for custom or 2 for d:h:m:s clock

# Messages
KICK:
  ENABLED: true
  MESSAGE:
    - ""
    - "&cKicked from %server%: &f%reason%"
    - ""

# Maintenance Mode
MAINTENANCE:
  ENABLED: false
  PERMISSION: "oxygen.command.maintenance"
  ALIASES:
    - "bungeewhitelist"
    - "bwhitelist"
    - "maintenancemode"
  HUB-NAME: "Hub-01"
  PING-TEXT: "&4Whitelisted"
  PING-LORE-ENABLED: true
  PING-LORE:
    - "&cThis server is under maintenance."
    - "&cJoin our Discord: &9discord.servername.net"
  KICK-MESSAGE:
    - ""
    - "&cThe network is currently in maintenance."
    - "&cAdditional info may be found at our discord!"
    - ""
    - "&cJoin our Discord&7: &9discord.servername.net"
    - ""
  PLAYERS: []

NO-MAINTENANCE-PING-TEXT-ENABLED: false
NO-MAINTENANCE-PING-TEXT: "0/3500"

NO-MAINTENANCE-PING-LORE-ENABLED: true
NO-MAINTENANCE-PING-LORE:
  - "&7&m-----------------------------"
  - "&b&lServerName &f&lNetwork &7(%online%/3,500)"
  - ""
  - "&bJoin our Discord&7: &f&odiscord.servername.net"
  - "&7&m-----------------------------"

# Commands
OXYGEN_COMMAND:
  PERMISSION: "oxygen.admin"
  ALIASES:
    - "motd"
    - "omotd"

TEAMSPEAK:
  ENABLED: true
  PERMISSION: ""
  ALIASES:
    - "ts"
    - "ts3"

STORE:
  ENABLED: true
  PERMISSION: ""
  ALIASES: []

DISCORD:
  ENABLED: true
  PERMISSION: ""
  ALIASES:
    - "dc"

TWITTER:
  ENABLED: true
  PERMISSION: ""
  ALIASES: []

WEBSITE:
  ENABLED: true
  PERMISSION: ""
  ALIASES:
    - "web"

HELP:
  ENABLED: true
  PERMISSION: ""
  ALIASES: []

HUB:
  ENABLED: true
  PERMISSION: ""
  ALIASES:
    - "lobby"

FIND:
  ENABLED: true
  PERMISSION: "oxygen.command.find"
  ALIASES:
    - "findplayer"

SERVER:
  ENABLED: true
  PERMISSION: "oxygen.command.server"
  ALIASES:
    - "play"