#=============================================#
#                                             #
#               Oxygen | v1.7                 #
#            LiteClubDevelopment              #
#                                             #
#=============================================#

GENERAL:
  PRIMARY_COLOR: "&b"
  MIDDLE_COLOR: "&f"
  SECONDARY_COLOR: "&3"
  NO_PERMISSIONS: "&cYou don't have permission to execute this command."
  DISABLED_COMMAND: "&cThis command is currently disabled."

# MOTD
TIME:
  DATE: "11/02/24 17:00:00" # Format is "MM/dd/yy HH:mm:ss", hour format in 24h clock
  TIMEZONE: "EST" # GMT, UTC-3, etc
MOTD: "%primary%&l%servername% &7┃ %secondary%&l50% OFF %middle%@ %secondary%%store% &c❤ %newline% &7» &a&lHCF SOTW %middle%takes place in %primary%&l&n%time%"
END:
  TEXT: "%primary%&l&nRIGHT NOW!!"
  COMMAND: "" # Example: maintenance off
TIMER:
  DAYS: "d" # 2d (days)
  DAY: "d" # 1d (day)
  HOURS: "h" # 2h (hours)
  HOUR: "h" # 1h (hour)
  MINUTES: "m" # 2m (minutes)
  MINUTE: "m" # 1m (minute)
  SECONDS: "s" # 2s (seconds)
  SECOND: "s" # 1s (second)
SLOTS: 3500 # Max Slots
CLOCK-TYPE: 1 # Coming soon more types

# Discord Bot
DISCORD-BOT:
  ENABLED: false
  TOKEN: "INSERT-YOUR-DISCORD-BOT-TOKEN-HERE" # https://discord.com/developers/applications
  UPDATE_INTERVAL: 10  # In seconds
  ACTIVITY:
    ENABLED: true
    UPDATE-DELAY: 10 # In seconds
    TYPE: "PLAYING" # PLAYING, COMPETING, LISTENING, WATCHING, STREAMING
    STATUS: "ONLINE" # DO_NOT_DISTURB, IDLE, INVISIBLE, OFFLINE
    ACTIVITY: "Oxygen Network | %online% online" # You can use: %servername%, %online%, %maxonline%, %time%, etc
    STREAM_URL: "https://twitch.tv/liteclubdevelopment" # For TYPE: "STREAMING"

# Messages
SOCIAL:
  SERVER_NAME: "ServerName"
  DISCORD: "discord.servername.net"
  STORE: "store.servername.net"
  TEAMSPEAK: "ts.servername.net"
  TWITTER: "@ServerNameNET"
  WEBSITE: "www.servername.net"
KICK:
  ENABLED: true
  MESSAGE:
    - ""
    - "&cKicked from %server%: &f%reason%"
    - ""

# Maintenance Mode
MAINTENANCE:
  ENABLED: false
  PERMISSION: "oxygen.command.maintenance"
  ALIASES:
    - "bungeewhitelist"
    - "bwhitelist"
    - "maintenancemode"
  HUB-NAME: "Hub-01"
  PING-TEXT-ENABLED: true
  PING-TEXT: "&4Maintenance"
  PING-LORE-ENABLED: true
  PING-LORE:
    - "&7&m-----------------------------&r"
    - "&c&l%servername%&c is under maintenance."
    - ""
    - "&cOnline: &f%online%&7/&f%maxonline%"
    - ""
    - "&cJoin our Discord: &9%discord%"
    - "&7&m-----------------------------"
  KICK-MESSAGE: # You can use %time%
    - ""
    - "&cThe network is currently in maintenance."
    - "&cAdditional info may be found at our discord!"
    - ""
    - "&cJoin our Discord&7: &9%discord%"
    - ""

NO-MAINTENANCE-PING-TEXT-ENABLED: false
NO-MAINTENANCE-PING-TEXT: "0/3500"

NO-MAINTENANCE-PING-LORE-ENABLED: true
NO-MAINTENANCE-PING-LORE: # Theme are disabled here
  - "&7&m-----------------------------&r"
  - "&b&l%servername% &f&lNetwork &7(%online%/%maxonline%)"
  - ""
  - "&a&lHCF SOTW&7: &f%time%"
  - ""
  - "&bJoin our Discord&7: &f&o%discord%"
  - "&7&m-----------------------------"